<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>18/02/22 22:48:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Class.checkout()[pri:3, instance:test_Package.TestNG_Class@7cd62f43]">checkout</td> 
  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/02/22 22:48:21</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Class.item_Added()[pri:2, instance:test_Package.TestNG_Class@7cd62f43]">item_Added</td> 
  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/02/22 22:48:21</td>   <td>-21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Class.login_Function()[pri:1, instance:test_Package.TestNG_Class@7cd62f43]">login_Function</td> 
  <td>main@555826066</td>   <td></td> </tr>
</table>
